html,
body {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#draw {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    svg {
        min-height: 100vh;
    }
    * {
        transform-origin: center;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 20s;
    }

    #land1 {
        transform: translateY(-10%) scale(1.3);
        animation-name: anim1;
    }
    #land2,
    #whitesun {
        transform: translateY(-8%) scale(1.2);
        animation-name: anim2;
    }
    #land3 {
        transform: translateY(-10%) scale(1.3);
        animation-name: anim3;
    }
    #c-left1,
    #c-left2,
    #c-left3 {
        transform: translateX(-20%) translateY(-10%) scale(1.5);
        opacity: 0.01;
        animation-name: anim4;
    }
    #c-right1,
    #c-right2,
    #c-right3 {
        transform: translateX(20%) translateY(-10%) scale(1.5);
        opacity: 0.01;
        animation-name: anim5;
    }
    #baloons,
    #birds-paradise {
        transform: translateX(-5%) translateY(-5%) scale(1.2);
        animation-name: anim6;
    }
    #birds {
        transform: translateX(5%) translateY(-5%) scale(1.2);
        animation-name: anim7;
    }
    #sky {
        transform: translateY(30%);
        animation-name: anim8;
    }
    #whitesun > path {
        opacity: 0.5;
        animation-name: anim9;
    }

    @keyframes anim1 {
        from {
            transform: translateY(-10%) scale(1.3);
        }
        to {
            transform: translateX(0%) translateY(0%) scale(1);
        }
    }
    @keyframes anim2 {
        from {
            transform: translateY(-8%) scale(1.2);
        }
        to {
            transform: translateX(0%) translateY(0%) scale(1);
        }
    }
    @keyframes anim3 {
        from {
            transform: translateY(-10%) scale(1.3);
        }
        to {
            transform: translateX(0%) translateY(0%) scale(1);
        }
    }
    @keyframes anim4 {
        from {
            transform: translateX(-20%) translateY(-10%) scale(1.5);
            opacity: 0.01;
        }
        to {
            transform: translateX(0%) translateY(0%) scale(1);
            opacity: 0.15;
        }
    }
    @keyframes anim5 {
        from {
            transform: translateX(20%) translateY(-10%) scale(1.5);
            opacity: 0.01;
        }
        to {
            transform: translateX(0%) translateY(0%) scale(1);
            opacity: 0.15;
        }
    }
    @keyframes anim6 {
        from {
            transform: translateX(-5%) translateY(-5%) scale(1.2);
        }
        to {
            transform: translateX(0%) translateY(0%) scale(1);
        }
    }
    @keyframes anim7 {
        from {
            transform: translateX(5%) translateY(-5%) scale(1.2);
        }
        to {
            transform: translateX(0%) translateY(0%) scale(1);
        }
    }
    @keyframes anim8 {
        from {
            transform: translateY(30%);
        }
        to {
            transform: translateY(0%);
        }
    }
    @keyframes anim9 {
        from {
            opacity: 0.2;
        }
        to {
            opacity: 0.5;
        }
    }
}
